body{
    font: 14px "Georgia", "Verdana";
}
header{
    padding-top: 7px;
    padding-bottom: 7px;
}
#about{
    margin-left: 370px;
}
#work{
    margin-left: 8px;
}
header i{
    margin-left: 8px;
}
#welcome{
    margin-left: 70px;
    margin-top: 20px;
    font: bold 20px "Georgia", "Verdana";
}
footer a, header a{
    color: inherit;
    text-decoration: none;
}

li:hover{
    cursor: pointer;
}

footer{
    padding-left: 30px;
    left: -2px;
    right: -2px;
}