/*** Variables ***/
$setePx: 7px;
$grayBorder: 1px solid #696696;
/** Start show **/
body {
    font: 14px "Georgia", "Verdana";
}

header {
    padding-top: $setePx;
    padding-bottom: $setePx;
    border-bottom: $grayBorder;
    #welcome {
        font: bold 20px "Georgia", "Verdana";
    }
    #about {
        margin-left: 180px;
    }
    @extend %social-icon;
}

li{
    &:hover{
        cursor: pointer;
    }
}

footer {
    padding-top: $setePx;
    left: -2px;
    right: -2px;
    border-top: $grayBorder;
    @extend %social-icon;
}

%social-icon {
    .space {
        margin-left: 12px;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

#contentArticle{
    width: 350px;
    input, textarea {
        margin: 10px;
        border: 1px solid #000;
    }
    #textArt{
        width: 750px;
        height: 600px;
        resize: none;
        overflow-y: scroll;
    }
    #title{
        font: bold 20px "Georgia", "Verdana";
    }
    #addTag{
        @extend %italic-font;
        @extend %margin-left;
    }
    input[type=submit]{
        padding: 5px;
        background-color: #90EE90;
        @extend %margin-left;
    }
    #listOfTags, #error {
        @extend %italic-font;
    }
}
%italic-font {
    font: italic 20px "Georgia", "Verdana";
}
%margin-left{
    float: left;
}

@mixin comeonTest($arg){
    //samething
}